body,h1,h2,h3,h4,h5,h6,span,p{
    font-family: 'Lato', sans-serif !important;
}

.search-bar{
    margin:20px;
    text-align: center;
}
.search-bar input{
    width:75%;
}
.video-item img{
    max-width:64px;
}
.video-detail .details{
    margin-top:10px;
    padding:10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}
.list-group-item{
    cursor:pointer;
}
.list-group-item:hover{
    background-color:#eee;
}
img{
    width:100%;
}
.fixed-bg{
    background: url(/img/riderBackground.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height:100vh;
}
.page-center{
    float: none;
    max-width: 1170px;
    margin: 0 auto;
    padding: 20% 0 30px;
}
nav  ul  li > a {
    overflow: hidden;
    border-right: 1px solid #171717;
    padding-left: 35px !important;
    padding-right: 35px !important;
    font-size: 14px;
    text-overflow: ellipsis;
    text-shadow: 0 -1px 0 #292929;
    text-transform: uppercase;
    white-space: nowrap;
    box-shadow: inset -1px 0 0 0 rgba(255, 255, 255, 0.065);
}
.overlay:before {
    content: "Preview";
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    bottom: 0;
    width: 4.5em;
    height: 1.75em;
    margin: -1.065em auto 0;
    border: 0.15em solid;
    font-size: 0.65em;
    line-height: 1.75em;
    opacity: 0;
    -webkit-transform: scale(0.5);
    -ms-transform: scale(0.5);
    transform: scale(0.5);
    -webkit-transition: -webkit-transform 0.65s ease, opacity 0.65s ease;
    transition: transform 0.65s ease, opacity 0.65s ease;
}
.demo:hover .bg {
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
    cursor:pointer;
}
.demo:hover .overlay:before {
    opacity: 1;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}
.demo:hover .overlay span {
    -webkit-transform: translate(135%, 0);
    -ms-transform: translate(135%, 0);
    transform: translate(135%, 0);
}
.overlay span{
    -webkit-transition: -webkit-transform 0.65s ease;
    transition:         transform 0.65s ease;
}

.portfolio p a{
    color: #7a7a7a;
}
.portfolio p b{
    font-weight:500;
}
.btn.btn-default.contact-button{
    background-color:white;
    border:2px solid #777;
    color:black;
}
.hvr-wobble-horizontal {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
}
/* Icon Wobble Horizontal */
@-webkit-keyframes hvr-icon-wobble-horizontal {
    16.65% {
        -webkit-transform: translateX(6px);
        transform: translateX(6px);
    }

    33.3% {
        -webkit-transform: translateX(-5px);
        transform: translateX(-5px);
    }

    49.95% {
        -webkit-transform: translateX(4px);
        transform: translateX(4px);
    }

    66.6% {
        -webkit-transform: translateX(-2px);
        transform: translateX(-2px);
    }

    83.25% {
        -webkit-transform: translateX(1px);
        transform: translateX(1px);
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@keyframes hvr-icon-wobble-horizontal {
    16.65% {
        -webkit-transform: translateX(6px);
        transform: translateX(6px);
    }

    33.3% {
        -webkit-transform: translateX(-5px);
        transform: translateX(-5px);
    }

    49.95% {
        -webkit-transform: translateX(4px);
        transform: translateX(4px);
    }

    66.6% {
        -webkit-transform: translateX(-2px);
        transform: translateX(-2px);
    }

    83.25% {
        -webkit-transform: translateX(1px);
        transform: translateX(1px);
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

.hvr-icon-wobble-horizontal {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    padding-right: 2.2em;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}
.hvr-icon-wobble-horizontal:before {
    content: "\f0e0";
    position: absolute;
    right: 1em;
    padding: 0 1px;
    font-family: FontAwesome;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}
.hvr-icon-wobble-horizontal:hover:before, .hvr-icon-wobble-horizontal:focus:before, .hvr-icon-wobble-horizontal:active:before {
    -webkit-animation-name: hvr-icon-wobble-horizontal;
    animation-name: hvr-icon-wobble-horizontal;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}

.animation-enter {
    opacity: 0.01;
}
.animation-enter.animation-enter-active {
    opacity: 1;
    transition: opacity 2s ease-in;
}
